#colophon {

}

#site-footer {
  position: relative;
  padding: 3% 0;
  &:before {
    @extend %gradient-filter;
  }
  .footer-sections-list, .condition-pages-list, .social-media-icons {
    @extend %reset-list;
  }

  .footer-sections-list {
    @include section-common-text($common-font, 1, .35px, $header-text-color, left);

    section {
      padding: 3% 0;
      .site-description {
        margin: 28px 0;
        line-height: 1.85;
      }

      .section-header {
        margin: 0;
        font: $footer-section-header;
        text-transform: uppercase;
      }

      ul.site-description {
        list-style: none;
        padding: 0;

        li {
          padding-top: 8px;
          padding-left: 40px;

          &:before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            position: absolute;
            left: 15px;
          }

          a {
            @include section-common-text($common-font, 1, .35px, $header-text-color, left);
            text-decoration: none;

            &:hover {
              color: $main-accent-color;
            }
          }
        }
      }

      .mailchimp {
        padding-top: 8px;
        height: 45px;

        p {
          margin-bottom: 0;
          display: inline-block;

          &:first-child {
            width: 73%;
          }

          &:last-child {
            width: 25%;
          }
        }

        input[type='email'] {
          background: none;
          display: inline-block;
          width: 100%;
          padding: 10px 16px;
        }

        input[type='email'],
        input[type="submit"] {
          display: inline-block;
          height: 45px;
          border-radius: 0;
          border: 1px solid rgba(255, 255, 255, .5);
          color: #fff;
        }

        input[type="submit"] {
          width: 100%;
          color: rgba(0,0,0,0);
          background-color: rgba(255, 255, 255, .5);
          transition: .2s ease background-color;

          &:hover {
            cursor: pointer;
            background-color: rgba(255, 255, 255, .8);
          }
        }
      }
    }
  }

  .social-media-icons {
    margin-top: 25px;

    li {
      padding: 0;
      a {
        text-align: center;
        line-height: 35px;
        display: inline-block;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        border: 1px solid #fff;
        color: $header-text-color;
        transition: .3s ease all;

        &:hover {
          border-color: $main-accent-color;
          color: $main-accent-color;
        }
      }
    }
  }

  div.site-info {
    margin-top: 25px;

    .copyright {
      @include section-common-text($common-font, 1, .35px, $header-text-color, left);
      padding-left: 15px;
      padding-right: 15px;

    }
  }

  .condition-pages-list {
    li {
      a {
        @include section-common-text($common-font, 1, .35px, $header-text-color, left);
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
          color: $main-accent-color;
        }
      }
    }
  }
}